In [2]:
import pandas as pd

In [3]:
# read in snake table
DATA_PATH = '../data/train_labels.csv'

In [4]:
df = pd.read_csv(DATA_PATH)
df.head()

,scientific_name,country,hashed_id,continent
0,crotalus-pyrrhus,United States of America,f670636e2f,North America
1,phyllorhynchus-decurtatus,United States of America,5bfe5fa2ef,North America
2,thamnophis-marcianus,United States of America,94d2da23c9,North America
3,boa-constrictor,UNKNOWN,871c3b709a,UNKNOWN
4,crotalus-atrox,United States of America,e983981e77,North America

In [13]:
df.country.nunique(), df.continent.nunique()

(188, 8)

In [14]:
df.continent.unique()

array(['North America', 'UNKNOWN', 'Europe', 'Oceania', 'Australia',
       'Asia', 'South America', 'Africa'], dtype=object)

In [15]:
df.scientific_name.value_counts()

thamnophis-sirtalis            12201
storeria-dekayi                 9708
pantherophis-obsoletus          8767
crotalus-atrox                  8679
pituophis-catenifer             7113
                               ...
spalerosophis-dolichospilus       17
macrovipera-schweizeri            17
bitis-armata                      17
lycodon-effraenis                 17
thamnophis-chrysocephalus         17
Name: scientific_name, Length: 783, dtype: int64